@import 'tailwindcss';

@font-face {
  font-family: 'afacad';
  src: url('../assets/fonts/Afacad-Regular.ttf');
}

@font-face {
  font-family: 'afacadBold';
  src: url('../assets/fonts/Afacad-Bold.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;