@import 'tailwindcss';

@tailwind utilities;

@font-face {
  font-family: 'afacad';
  src: url('../assets/fonts/Afacad-Regular.ttf');
}

@font-face {
  font-family: 'afacadBold';
  src: url('../assets/fonts/Afacad-Bold.ttf');
}

@layer utilities {

  .scrollbar-custom::-webkit-scrollbar {
    height: 8px;
    background-color: #f1f1f1;
    /* Fondo de la barra de scroll */
    border-radius: 20px;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #60efdb;
    /* Color del thumb (la parte móvil) */
    border-radius: 20px;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background-color: #5ae4d4;
    /* Color al hacer hover */
  }

  .input-no-clear::-webkit-search-decoration,
  .input-no-clear::-webkit-search-cancel-button,
  .input-no-clear::-webkit-search-results-button,
  .input-no-clear::-webkit-search-results-decoration {
    display: none;
  }

  .input-no-clear {
    -webkit-appearance: none;
    -moz-appearance: textfield;
  }
}