/* --- MainLayout: tamaño y espaciado del contenedor principal --- */

.main-responsive {
  margin-top: 24px;
}

.main-layout-responsive {
  width: 90%;
  padding-bottom: 3.5rem;
  margin: 1rem auto 5rem auto;
  border-radius: 0.8rem;
}

/* --- SearchBar --- */
.search-responsive {
  width: 1400px;
  padding: 10px 40px 10px 48px;
}

/* --- AccountButtons (botones uno al lado del otro con separación) --- */
.buttons-responsive {
  gap: 12px;
}

.button-responsive {
  padding: 8px 16px;
}

.logo-plp {
  width: 80px;
  height: 90px;
}

.icons-search {
  position: absolute;
  width: 20px;
  height: 20px;
  top: -10px;
  left: 0px;
}

.icon-x-search {
  position: absolute;
  right: 35px;
}

.icons-responsive {
  width: 24px;
  height: 24px;
}

.icon-menu {
  width: 28px;
  height: 28px;
}

.main-text {
  font-size: 4.2rem;
  margin-bottom: 2rem;
}

.sub-text {
  font-size: x-large;
  margin: 1rem 0;
}

.space-welcome-text {
  gap: 140px;
}

.ilustration-main {
  width: 500px;
  height: 460px;
}

.info-container {
  width: 1440px;
  padding: 1.5rem;
  gap: 1.5rem;
}

.card-info-responsive {
  padding: 3rem 48px;
  border-radius: x-large;
}

.text-info {
  font-size: medium;
}

.info-ilustration {
  width: 96px;
  height: 96px;
}

.menu-responsive {
  width: 14rem;
  border-radius: large;
}

.menu-responsive-title {
  max-width: 180px;
  font-size: large;
}

.mtitle-container {
  padding: 0.8rem;
}

.menu-list {
  padding: 0.5rem;
}

.menu-item-responsive {
  padding: 12px 16px;
  font-size: medium;
  border-radius: medium;
}

.theme-modal-responsive {
  width: 320px;
  padding: 2rem;
  border-radius: 1.5rem;
}

.icons-close {
  padding: 12px;
  position: absolute;
  top: 12px;
  right: 12px;
}

.icon-close-x {
  width: 20px;
  height: 20px;
}

.theme-modal-text {
  font-size: x-large;
}

.theme-modal-subtext {
  font-size: large;
}

.swicth {
  width: 44px;
  height: 24px;
}

.switch-circle {
  width: 16px;
  height: 16px;
  transform: translateX(0px);
}

.jobs-main {
  padding: 40px 28px;
}

.text-jobs {
  margin: 40px 40px 20px 40px;
}

.jobs-title {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.jobs-subtitle {
  font-size: large;
}

.jobs-main-container {
  margin: 0 40px;
}

.jobs-subcontainer {
  padding: 20px 48px;
  font-size: x-large;
}

.scroll-container {
  padding: 0 40px 40px 40px;
}

.job-card {
  width: 300px;
  height: 240px;
  border-radius: 0.8rem;
  padding: 24px 32px;
}

.job-card-title {
  max-width: 200px;
  font-size: large;
  margin-bottom: 0.5rem;
}

.job-text {
  font-size: medium;
}

.about-responsive {
  padding: 64px 96px;
}

.about-image {
  width: 400px;
  height: 400px;
}

.modal-auth {
  width: 400px;
  padding: 2rem;
  border-radius: 0.8rem;
}

.modal-auth-title {
  font-size: x-large;
  margin-bottom: 1rem;
}

.modal-auth-text {
  font-size: medium;
  margin-bottom: 1.5rem;
}

.space-buttons {
  gap: 16px;
}

.contact-title {
  font-size: 3rem;
  margin-bottom: 1rem;
  padding: 48px 60px 0px 60px;
}

.contact-content {
  padding: 48px 160px 48px 100px;
  gap: 48px;
}

.contact-ilustration {
  width: 520px;
  height: auto;
}

.contact-text {
  font-size: large;
}

.comment-container {
  margin-top: 24px;
}

.contact-content-1 {
  gap: 16px;
  margin-bottom: 16px;
}

.input {
  font-size: large;
  margin-top: 12px;
  border-radius: 0.7rem;
  padding: 8px 16px;
}

.label-responsive {
  font-size: medium;
}

.error-responsive {
  font-size: small;
  margin-top: 4px;
}

.desc {
  height: 150px;
  font-size: large;
  margin-top: 12px;
  border-radius: 0.7rem;
  padding: 8px 16px;
}

.send-contact-button {
  margin-top: 16px;
}

.contact-content-2 {
  margin-bottom: 16px;
}

.text {
  font-size: medium;
}

.footer-responsive {
  padding: 1.5rem 0.8rem;
}

.footer-grid-responsive {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.footer-section-responsive {
  font-size: 0.9rem;
}

.footer-title-responsive {
  font-size: 1.1rem;
  margin-bottom: 0.8rem;
}

.footer-links-responsive {
  gap: 0.5rem;
}

.footer-link-responsive {
  font-size: 0.85rem;
}

.footer-icons-responsive {
  gap: 0.8rem;
  margin-bottom: 0.8rem;
}

.footer-icon-responsive {
  width: 1.2rem;
  height: 1.2rem;
}

.footer-email-responsive {
  font-size: 0.85rem;
}

.footer-email-icon-responsive {
  width: 1rem;
  height: 1rem;
  margin-right: 0.4rem;
}

.footer-divider-responsive {
  max-width: 90%;
  margin-top: 1.2rem;
  padding-top: 0.8rem;
  font-size: 0.85rem;
}

.login-form-container {
  width: 35%;
}

.login-form-icon {
  left: 0.75rem;
  bottom: 0.75rem;
}

.login-form-icon-size {
  width: 1.5rem;
  height: 1.5rem;
}

.login-form-eye-icon {
  right: 1rem;
  bottom: 0.5rem;
}

.login-form-eye-icon-size {
  width: 1.75rem;
  height: 1.75rem;
}

.login-form-input-padding {
  padding-left: 3rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.login-form-input-container {
  margin-top: 16px;
}

.login-form-google-btn {
  width: 15rem;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
}

.login-form-divider {
  border-top-width: 2px;
}

.login-form-actions {
  margin-top: 24px;
  gap: 16px;
}

.login-form-submit-btn {
  width: 100%;
  padding: 0.5rem 1rem;
}

.forms-container {
  padding: 40px;
  border-radius: 0.8rem;
}

.page {
  padding: 24px;
}

.title-page {
  font-size: 3rem;
}

.links-page {
  font-size: medium;
}

.container-forms {
  margin-top: 48px;
  gap: 80px;
}

.paragraph-page {
  font-size: 1.9rem;
}

.forms-ilustration {
  width: 400px;
  height: 400px;
}

.register {
  height: 460px;
}

.form-section {
  margin-top: 16px;
}

.select-size {
  padding: 8px;
  height: 240px;
  border-radius: 0.8rem;
}

.select-item {
  font-size: large;
  border-radius: 0.7rem;
  padding: 8px 16px;
}

.card-user-responsive {
  padding: 20px;
  margin-bottom: 16px;
  border-radius: 0.8rem;
}

.logo-user {
  width: 48px;
  height: 48px;
}

.logo-user-2 {
  width: 40px;
  height: 40px;
}

.container-user-type {
  margin: 0 24px;
  gap: 24px;
}

.button-employer {
  margin: 0 200px 24px 200px;
}

.container-employer {
  margin: 22px 0;
}

.text {
  font-size: large;
}

.title {
  font-size: 2.3rem;
  margin-bottom: 8px;
}

.container-text {
  margin: 24px 40px 20px 40px;
}

.routes-icons {
  width: 32px;
  height: 32px;
}

.container-routes {
  gap: 24px;
}

.avatar-menu {
  width: 56px;
  height: 56px;
}

.container-categories {
  padding: 0 16px 32px 16px;
}

.title-categories {
  font-size: 1.6rem;
  margin: 0 64px 24px 64px;
}

.container-categories-jobs {
  padding: 40px;
  margin: 0 64px;
  gap: 24px;
}

.right-menu {
  width: 80%;
  height: 660px;
  padding: 0.5rem 0;
  border-radius: 0.8rem;
}

.right-items {
  padding: 12px 32px;
  margin: 0 8px;
  font-size: large;
  border-radius: 0.6rem;
}

.settings {
  width: 90%;
  gap: 24px;
  margin: 16px 120px 0 120px;
}

.sub-settings {
  width: 70%;
  padding: 32px 40px;
  border-radius: 0.8rem;
}

.avatar-edit {
  width: 96px;
  height: 96px;
}

.edit-icon {
  width: 18px;
  height: 18px;
}

.avatar-selector {
  width: 320px;
  padding: 24px;
  margin-top: 12px;
  border-radius: 0.8rem;
}

.avatar-space {
  gap: 12px;
}

.avatar-img {
  width: 64px;
  height: 64px;
}

.user-name {
  font-size: 1.8rem;
}

.role-user {
  font-size: large;
}

.divider {
  margin-top: 32px;
}

.info-title {
  font-size: 1.6rem;
  margin: 24px 0 16px 0;
}

.general-container {
  height: 400px;
  max-height: 400px;
  margin-top: 24px;
}

.general-employer-container {
  height: 380px;
  max-height: 400px;
  margin-top: 24px;
}

.sub-info-text {
  font-size: x-large;
}

.container-info {
  margin: 16px 0;
  padding-right: 24px;
}

.button-set {
  font-size: large;
  padding: 4px 8px;
  gap: 4px;
}

.sub-section {
  padding: 1.4rem 0;
}

.title-section {
  font-size: 1.2rem;
}

.success-message {
  position: fixed;
  top: 200px;
  right: 720px;
  font-size: large;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.375rem;
}

.postulated-container {
  height: 22.5rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1.5rem;
  max-height: 500px;
  padding-right: 1rem;
}

.card-postulated {
  height: 10.5rem;
  padding: 24px;
  border-radius: 0.8rem;
}

.card-postulation {
  height: 6.5rem;
  padding: 24px;
  border-radius: 0.8rem;
}

.card-published {
  height: 9.5rem;
  padding: 24px;
  border-radius: 0.8rem;
}

.text-vacancy-applied {
  font-size: medium;
  margin-top: 8px;
}

.comments-container {
  border-radius: 0.8rem;
  max-height: 500px;
}

.comment-card {
  border-radius: 0.8rem;
  padding: 24px;
  margin-bottom: 16px;
}

.comment-name {
  font-size: large;
}

.comment-rol {
  font-size: smaller;
}

.comment-content {
  margin-top: 12px;
}

.comment-content-1 {
  margin-bottom: 16px;
}

.comment-date {
  font-size: small;
  margin-bottom: 8px;
}

.comment-modal {
  width: 600px;
  padding: 32px;
  border-radius: 0.8rem;
}

/* vacancy - person modales */

.container-info-user {
  max-width: 670px;
  max-height: 90vh;
  padding: 32px;
  border-radius: 0.8rem;
  margin: 0 16px;
}

.container-title-info-user {
  margin-bottom: 24px;
}

.info-user-title {
  font-size: 1.8rem;
  margin-left: 24px;
}

.buttons-user-container {
  margin-top: 24px;
}

.sub-info-container-user {
  padding: 0 48px;
  max-height: 65vh;
}

.company-info {
  margin-bottom: 24px;
}

.subtitle-section {
  font-size: 1.3rem;
  margin-bottom: 16px;
}

.columns-info {
  gap: 16px;
}

.sub-columns-info {
  gap: 12px;
}

.ilustration-icons {
  width: 20px;
  height: 20px;
  margin-top: 4px;
}

.desc-company {
  margin-bottom: 24px;
}

.title-desc-company {
  font-size: large;
  margin-bottom: 12px;
}

.hr {
  margin-bottom: 24px;
}

.vacancy-section-title {
  font-size: 1.3rem;
  margin-bottom: 16px;
}

.columns-info-2 {
  margin-bottom: 24px;
  gap: 16px;
}

.skills {
  gap: 8px;
}

.skill-space {
  padding: 4px 12px;
  border-radius: 3rem;
  font-size: small;
}

.main-comment-container {
  gap: 16px;
}

.comment-container {
  border-radius: 0.6rem;
  padding: 16px;
}

.sub-comment-container {
  margin-bottom: 8px;
}

.comment-title {
  font-size: medium;
  margin-bottom: 4px;
}

.vacancy-form {
  max-width: 1000px;
  border-radius: 0.8rem;
  padding: 48px 80px;
  margin: 16px 120px 32px 120px;
}

.container-create-title {
  margin-bottom: 32px;
}

.form-create-vacancy-1 {
  gap: 8px;
}

.form-create-vacancy-1 {
  gap: 20px;
  margin: 16px 0 32px 0;
}

.notifications-container {
  width: 95%;
  margin: 16px auto 0 auto;
  padding: 24px;
}

.text-notifications {
  margin-bottom: 16px;
  font-size: 1.25rem;
}

.sub-container-notifications {
  gap: 24px;
}

.notifications-list {
  height: 600px;
}

.notification-card {
  padding: 16px;
  border-radius: 0.8rem;
  margin-right: 8px;
}

.notify-date {
  font-size: small;
  margin-top: 4px;
}

.notify-content {
  min-height: 300px;
  padding: 24px;
  border-radius: 0.8rem;
}

.text-notify-title {
  font-size: medium;
  max-width: 85%;
}

.container-help-terms {
  height: 100%;
  max-height: 600px;
}

.sub-help-terms {
  max-width: 1020px;
}

.container-screen {
  height: screen;
}

.password-form {
  margin: 70px 0;
}

.modal-comment {
  width: 550px;
  padding: 2rem;
  border-radius: 0.8rem;
}

.modal-comment-input {
  margin-bottom: 16px;
}

.aboutus-container {
  margin-top: 60px;
}

.terms-modal {
  width: 90%;
  max-width: 50rem;
  max-height: 90vh;
}

.fullscreen-chat {
  width: 70%;
  height: 80vh;
  margin-top: 60px;
}

.medium-chat {
  height: 100%;
  max-height: 600px;
  border-radius: 0.8rem;
}

.header-chat {
  padding: 16px;
  gap: 12px;
  border-radius: 0.8rem;
}

.text-header-chat {
  font-size: 1.3rem;
}

.chat-container {
  margin: 16px 0;
  padding: 0 16px;
}

.chat-full {
  border-radius: 14px;
}

.message-bot {
  max-width: 24rem;
  border-radius: 0.8rem;
  padding: 12px 16px;
}

.message-text {
  font-size: large;
}

.message-user {
  max-width: 24rem;
}

.edit-messages {
  padding: 12px 16px;
  border-radius: 0.8rem;
  font-size: large;
  min-height: 5rem;
}

.save-cancel-edit {
  padding: 4px 12px;
  border-radius: 0.4rem;
  font-size: small;
  gap: 4px;
}

.chat-icons {
  width: 16px;
  height: 16px;
}

.copied {
  font-size: small;
  border-radius: 0.5rem;
  padding: 4px 8px;
}

.loading {
  padding: 12px 16px;
}

.circle {
  width: 8px;
  height: 8px;
}

.message-input-container {
  padding: 16px;
}

.textarea-message {
  padding: 12px 16px;
  font-size: large;
  border-radius: 0.8rem;
}

.send-button {
  padding: 16px;
}

.footer-chat {
  font-size: small;
  margin-top: 15px;
}

.email-ilustration {
  width: 280px;
  height: 280px;
}

/* --- Responsive breakpoints --- */

/* --- Laptops y pantallas medianas (≤1280px) --- */
@media screen and (max-width: 1280px) {

  .main-layout-responsive {
    width: 88%;
    margin-top: 1rem;
    margin-bottom: 3rem;
    padding-bottom: 1.6rem;
  }

  .logo-plp {
    width: 50px;
    height: 60px;
  }

  .icons-search {
    position: absolute;
    width: 12px;
    height: 12px;
    top: -6px;
    left: -6px;
    top: 10;
  }

  .icons-responsive {
    width: 16px;
    height: 16px;
  }

  .icon-menu {
    width: 23px;
    height: 23px;
  }

  .buttons-responsive {
    gap: 0px;
  }

  .main-responsive {
    margin-top: 10px;
  }

  .search-responsive {
    width: 880px;
    padding: 3px 16px 3px 26px;
    font-size: smaller;
  }

  .button-responsive {
    padding: 4px 12px;
    font-size: small;
  }

  .main-text {
    font-size: 2.5rem;
    margin-bottom: 0.8rem;
  }

  .sub-text {
    font-size: medium;
    margin: 0.4rem 0;
  }

  .space-welcome-text {
    gap: 100px;
  }

  .ilustration-main {
    width: 300px;
    height: 300px;
  }

  .info-container {
    width: 95%;
    padding: 1rem;
    gap: 1rem;
  }

  .card-info-responsive {
    padding: 1rem 25px;
    border-radius: 0.5rem;
  }

  .text-info {
    font-size: medium;
  }

  .info-ilustration {
    width: 55px;
    height: 55px;
  }

  .menu-responsive {
    width: 12rem;
    border-radius: 0.4rem;
  }

  .menu-responsive-title {
    max-width: 100px;
    font-weight: 600;
    font-size: medium;
  }

  .mtitle-container {
    padding: 0.5rem;
    margin: 0px;
  }

  .menu-list {
    padding: 5px;
  }

  .menu-item-responsive {
    padding: 8px 10px;
    font-size: small;
    border-radius: smaller;
  }

  .modal-theme-responsive {
    width: 220px;
    padding: 1rem;
    border-radius: 0.6rem;
  }

  .icon-close {
    padding: 3px;
    position: absolute;
    top: 12px;
    right: 12px;
  }

  .icon-close-x {
    width: 15px;
    height: 15px;
  }

  .theme-modal-text {
    font-size: small;
  }

  .theme-modal-subtext {
    font-size: smaller;
  }

  .switch {
    width: 32px;
    height: 16px;
  }

  .switch-circle {
    width: 12px;
    height: 12px;
    transform: translateX(-6px);
  }

  .jobs-main {
    padding: 14px 14px;
  }

  .text-jobs {
    margin: 20px 30px 15px 30px;
  }

  .jobs-title {
    font-size: 1.7rem;
    margin-bottom: 0.25rem;
  }

  .jobs-subtitle {
    font-size: medium;
  }

  .jobs-main-container {
    margin: 0 30px;
  }

  .jobs-subcontainer {
    padding: 14px 24px;
    font-size: larger;
  }

  .scroll-container {
    padding: 0 20px 20px 20px;
  }

  .job-card {
    width: 230px;
    height: 185px;
    border-radius: 0.5rem;
    padding: 16px 20px;
  }

  .job-card-title {
    font-size: medium;
    margin-bottom: 0.4rem;
  }

  .job-text {
    font-size: 0.9rem;
  }

  .about-responsive {
    padding: 46px 46px;
  }

  .about-image {
    width: 280px;
    height: 280px;
  }

  .modal-auth {
    width: 320px;
    padding: 1.5rem;
    border-radius: 0.5rem;
  }

  .modal-auth-title {
    font-size: large;
    margin-bottom: 0.8rem;
  }

  .modal-auth-text {
    font-size: medium;
    margin-bottom: 1rem;
  }

  .space-buttons {
    gap: 8px;
  }

  .contact-title {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    padding: 30px 40px 0px 40px;
  }

  .contact-content {
    padding: 15px 150px 28px 80px;
    gap: 28px;
  }

  .contact-ilustration {
    width: 350px;
    height: auto;
  }

  .contact-text {
    font-size: medium;
  }

  .comment-container {
    margin-top: 0px;
  }

  .contact-content-1 {
    gap: 12px;
    margin-bottom: 6px;
  }

  .input {
    font-size: medium;
    margin-top: 6px;
    border-radius: 0.5rem;
    padding: 5px 10px;
  }

  .label-responsive {
    font-size: medium;
  }

  .error-responsive {
    font-size: small;
    margin-top: 3px;
  }

  .contact-content-2 {
    margin-bottom: 6px;
  }

  .desc {
    height: 80px;
    font-size: medium;
    margin-top: 6px;
    border-radius: 0.5rem;
    padding: 5px 10px;
  }

  .send-contact-button {
    margin-top: 0px;
  }

  .footer-responsive {
    padding: 1.2rem 0.6rem;
  }

  .footer-grid-responsive {
    max-width: 75%;
    gap: 1rem;
  }

  .footer-section-responsive {
    font-size: 1rem;
  }

  .footer-title-responsive {
    font-size: 0.8rem;
    margin-bottom: 0.6rem;
  }

  .footer-links-responsive {
    gap: 0rem;
  }

  .footer-link-responsive {
    font-size: 0.8rem;
  }

  .footer-icons-responsive {
    gap: 0rem;
    margin-bottom: 0.6rem;
  }

  .footer-icon-responsive {
    width: 1rem;
    height: 1rem;
  }

  .footer-email-responsive {
    font-size: 0.8rem;
  }

  .footer-divider-responsive {
    max-width: 75%;
    margin-top: 1rem;
    padding-top: 0.8rem;
    font-size: 0.8rem;
  }

  .login-form-container {
    width: 35%;
  }

  .login-form-icon {
    left: 0.5rem;
    bottom: 0.5rem;
  }

  .login-form-icon-size {
    width: 1.2rem;
    height: 1.2rem;
  }

  .login-form-eye-icon {
    right: 0.75rem;
    bottom: 0.25rem;
  }

  .login-form-eye-icon-size {
    width: 1.2rem;
    height: 1.5rem;
  }

  .login-form-input-padding {
    padding-left: 2.5rem;
    padding-right: 0.75rem;
    padding-top: 0.35rem;
    padding-bottom: 0.35rem;
  }

  .login-form-input-container {
    margin-top: 8px;
  }

  .login-form-google-btn {
    width: 11rem;
    padding: 0.3rem 0.8rem;
    margin: 0.8rem 0;
    font-size: small;
  }

  .login-form-register-text,
  .login-form-register-link,
  .login-form-forgot-password {
    font-size: 0.8rem;
  }

  .login-form-actions {
    margin-top: 14px;
    gap: 8px;
  }

  .login-form-submit-btn {
    width: 70%;
    padding: 0.2rem 0rem;
    font-size: small;
  }

  .forms-container {
    padding: 18px 25px;
    border-radius: 0.5rem;
  }

  .page {
    padding: 14px;
  }

  .title-page {
    font-size: 2rem;
  }

  .links-page {
    font-size: small;
  }

  .container-forms {
    margin-top: 22px;
    gap: 60px;
  }

  .paragraph-page {
    font-size: 1.3rem;
  }

  .forms-ilustration {
    width: 300px;
    height: 300px;
  }

  .register {
    height: 280px;
  }

  .forms-section {
    margin-top: 5px;
  }

  .select-size {
    padding: 4px;
    height: 100px;
    border-radius: 0.5rem;
  }

  .select-item {
    font-size: medium;
    border-radius: 0.5rem;
    padding: 5px 10px;
  }

  .card-user-responsive {
    padding: 13px;
    margin-bottom: 8px;
    border-radius: 0.5rem;
  }

  .text-card {
    font-size: 0.75rem;
  }

  .text-rol {
    font-size: small;
  }

  .logo-user {
    width: 36px;
    height: 36px;
  }

  .logo-user-2 {
    width: 32px;
    height: 32px;
  }

  .container-user-type {
    margin: 0px 0 18px 0;
    gap: 10px;
  }

  .button-employer {
    margin: 0 140px 24px 140px;
  }

  .container-employer {
    margin: 0;
  }

  .text {
    font-size: medium;
  }

  .title {
    font-size: 1.7rem;
    margin-bottom: 4px;
  }

  .container-text {
    margin: 16px 30px 14px 30px;
  }

  .routes-icons {
    width: 22px;
    height: 22px;
  }

  .container-routes {
    gap: 14px;
  }

  .avatar-menu {
    width: 42px;
    height: 42px;
  }

  .container-categories {
    padding: 0 8px 22px 8px;
  }

  .title-categories {
    font-size: 1.3rem;
    margin: 0 44px 14px 44px;
  }

  .container-categories-jobs {
    padding: 20px;
    margin: 0 40px;
    gap: 14px;
  }

  .right-menu {
    width: 80%;
    height: 460px;
    padding: 0.3rem 0;
    border-radius: 0.6rem;
  }

  .right-items {
    padding: 8px 20px;
    margin: 0 8px;
    font-size: medium;
    border-radius: 0.4rem;
  }

  .settings {
    width: 90%;
    gap: 24px;
    margin: 16px 100px 0 100px;
  }

  .sub-settings {
    width: 80%;
    padding: 20px 35px;
    border-radius: 0.6rem;
  }

  .avatar-edit {
    width: 66px;
    height: 66px;
  }

  .edit-icon {
    width: 12px;
    height: 12px;
  }

  .avatar-selector {
    width: 220px;
    padding: 14px;
    margin-top: 6px;
    border-radius: 0.5rem;
  }

  .avatar-space {
    gap: 6px;
  }

  .avatar-img {
    width: 44px;
    height: 44px;
  }

  .role-user {
    font-size: 1rem;
  }

  .user-name {
    font-size: 1.5rem;
  }

  .divider {
    margin-top: 16px;
  }

  .info-title {
    font-size: 1.3rem;
    margin: 10px 0 6px 0;
  }

  .general-container {
    height: 270px;
    max-height: 260px;
    margin: 10px 0;
  }

  .general-employer-container {
    height: 280px;
    max-height: 280px;
    margin-top: 14px;
  }

  .sub-info-text {
    font-size: 1rem;
    margin-bottom: 10px;
  }

  .container-info {
    margin: 0;
    padding-right: 12px;
  }

  .button-set {
    font-size: 0.9rem;
    padding: 2px 8px;
    gap: 2px;
  }

  .sub-section {
    padding: 1rem 0;
  }

  .title-section {
    font-size: 1rem;
  }

  .success-message {
    position: fixed;
    top: 130px;
    right: 440px;
    font-size: small;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.3rem;
  }

  .postulated-container {
    height: 15.4rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.2rem;
    max-height: 400px;
    padding-right: 0.8rem;
  }

  .card-postulated {
    height: 7.2rem;
    padding: 12px;
    border-radius: 0.6rem;
  }

  .card-postulation {
    height: 4.4rem;
    padding: 10px 15px;
    border-radius: 0.6rem;
  }

  .card-published {
    height: 6.5rem;
    padding: 12px;
    border-radius: 0.6rem;
  }

  .text-vacancy-applied {
    font-size: small;
    margin-top: 4px;
  }

  .comments-container {
    border-radius: 0.6rem;
    max-height: 360px;
  }

  .comment-card {
    border-radius: 0.6rem;
    padding: 14px;
    margin-bottom: 16px;
  }

  .comment-name {
    font-size: medium;
  }

  .comment-rol {
    font-size: small;
  }

  .comment-content {
    margin-top: 2px;
  }

  .comment-content-1 {
    margin-bottom: 0px;
  }

  .comment-date {
    font-size: small;
    margin-bottom: 4px;
  }

  .comment-modal {
    width: 500px;
    padding: 22px;
    border-radius: 0.6rem;
  }

  /* Vacancy - Person modales */

  .container-info-user {
    max-width: 480px;
    max-height: 90vh;
    padding: 16px;
    border-radius: 0.6rem;
    margin: 0 16px;
  }

  .container-title-info-user {
    margin-bottom: 10px;
  }

  .info-user-title {
    font-size: 1.4rem;
    margin-left: 14px;
  }

  .buttons-user-container {
    margin-top: 16px;
  }

  .sub-info-container-user {
    padding: 0 30px;
    max-height: 65vh;
  }

  .company-info {
    margin-bottom: 14px;
  }

  .subtitle-section {
    font-size: 1rem;
    margin-bottom: 4px;
  }

  .columns-info {
    gap: 10px;
  }

  .sub-columns-info {
    gap: 8px;
  }

  .ilustration-icons {
    width: 15px;
    height: 15px;
  }

  .desc-company {
    margin-bottom: 12px;
  }

  .title-desc-company {
    margin-bottom: 4px;
  }

  .hr {
    margin-bottom: 10px;
  }

  .vacancy-section-title {
    font-size: 1rem;
    margin-bottom: 10px;
  }

  .columns-info-2 {
    margin-bottom: 14px;
    gap: 8px;
  }

  .skills {
    gap: 4px;
  }

  .skill-space {
    padding: 3px 8px;
    border-radius: 3rem;
    font-size: small;
  }

  .main-comment-container {
    gap: 10px;
  }

  .comment-container {
    border-radius: 0.4rem;
    padding: 12px;
  }

  .sub-comment-container {
    margin-bottom: 4px;
  }

  .comment-title {
    font-size: medium;
    margin-bottom: 2px;
  }

  .vacancy-form {
    max-width: 600px;
    border-radius: 0.8rem;
    padding: 28px 40px;
    margin: 16px 120px 32px 120px;
  }

  .container-create-title {
    margin-bottom: 10px;
  }

  .form-create-vacancy-1 {
    gap: 4px;
  }

  .form-create-vacancy-2 {
    gap: 6px;
    margin: 0 0 18px 0;
  }

  .notifications-container {
    width: 80%;
    margin: 0 auto;
    padding: 15px;
  }

  .text-notifications {
    margin-bottom: 12px;
    font-size: 1rem;
  }

  .sub-container-notifications {
    gap: 14px;
  }

  .notifications-list {
    height: 420px;
  }

  .notification-card {
    padding: 10px;
    border-radius: 0.6rem;
    margin-right: 5px;
  }

  .notify-date {
    font-size: small;
    margin-top: 0px;
  }

  .notify-content {
    min-height: 300px;
    padding: 20px;
    border-radius: 0.6rem;
  }

  .text-notify-title {
    font-size: small;
    max-width: 80%;
  }

  .container-help-terms {
    height: 100%;
    max-height: 420px;
  }

  .container-screen {
    height: screen;
  }

  .sub-help-terms {
    max-width: 900px;
  }

  .password-form {
    margin: 0 0 20px 0;
  }

  .modal-comment {
    width: 350px;
    padding: 1.5rem;
    border-radius: 0.6rem;
  }

  .modal-comment-input {
    margin-bottom: 4px;
  }

  .aboutus-container {
    margin-top: 0px;
  }

  .terms-modal {
    width: 90%;
    max-width: 50rem;
    max-height: 90vh;
  }

  .fullscreen-chat {
    width: 70%;
    height: 80vh;
  }

  .medium-chat {
    height: 100%;
    max-height: 400px;
    border-radius: 0.8rem;
  }

  .header-chat {
    padding: 8px 10px;
    gap: 6px;
    border-radius: 0.6rem;
  }

  .text-header-chat {
    font-size: 1rem;
  }

  .chat-container {
    margin: 8px 0;
    padding: 14px;
  }

  .chat-full {
    border-radius: 10px;
  }

  .message-bot {
    max-width: 20rem;
    border-radius: 0.6rem;
    padding: 6px 8px;
  }

  .message-text {
    font-size: small;
  }

  .message-user {
    max-width: 20rem;
  }

  .edit-messages {
    padding: 6px 8px;
    border-radius: 0.6rem;
    font-size: small;
    min-height: 2.5rem;
  }

  .save-cancel-edit {
    padding: 2px 8px;
    border-radius: 0.4rem;
    font-size: x-small;
    gap: 2px;
  }

  .chat-icons {
    width: 10px;
    height: 10px;
  }

  .copied {
    font-size: x-small;
    border-radius: 0.3rem;
    padding: 2px 6px;
  }

  .loading {
    padding: 6px 8px;
  }

  .circle {
    width: 4px;
    height: 4px;
  }

  .message-input-container {
    padding: 8px;
  }

  .textarea-message {
    padding: 8px 10px;
    font-size: small;
    border-radius: 0.6rem;
  }

  .send-button {
    padding: 10px;
  }

  .footer-chat {
    font-size: x-small;
    margin-top: 8px;
  }

  .container-chat-icons {
    position: absolute;
    transform: translateX(55px) translateY(-10px);
  }

  .email-ilustration {
    width: 200px;
    height: 200px;
  }

}

/* --- 1024px Responsive Breakpoint --- */
@media screen and (max-width: 1024px) {

  .main-layout-responsive {
    width: 85%;
    margin-top: 0.8rem;
    margin-bottom: 2.5rem;
    padding-bottom: 1.2rem;
  }

  .logo-plp {
    width: 42px;
    height: 50px;
  }

  .icons-search {
    width: 10px;
    height: 10px;
    top: -4px;
    left: -8px;
  }

  .icons-responsive {
    width: 14px;
    height: 14px;
  }

  .icon-menu {
    width: 20px;
    height: 20px;
  }

  .buttons-responsive {
    gap: 3px;
  }

  .main-responsive {
    margin-top: 8px;
  }

  .search-responsive {
    width: 660px;
    padding: 2px 12px 2px 20px;
    font-size: x-small;
  }

  .button-responsive {
    padding: 4px 10px;
    font-size: xx-small;
  }

  .main-text {
    font-size: 2rem;
    margin-bottom: 0.6rem;
  }

  .sub-text {
    font-size: x-small;
    margin: 0.3rem 0;
  }

  .space-welcome-text {
    gap: 80px;
  }

  .ilustration-main {
    width: 340px;
    height: 260px;
  }

  .info-container {
    width: 830px;
    padding: 0.8rem;
    gap: 0.8rem;
  }

  .card-info-responsive {
    padding: 1rem 24px;
    border-radius: 0.4rem;
  }

  .text-info {
    font-size: x-small;
  }

  .info-ilustration {
    width: 48px;
    height: 48px;
  }

  .menu-responsive {
    width: 9rem;
    border-radius: 0.4rem;
  }

  .menu-responsive-title {
    max-width: 80px;
    font-size: xx-small;
  }

  .mtitle-container {
    padding: 0.2rem;
  }

  .menu-list {
    padding: 4px;
  }

  .menu-item-responsive {
    padding: 6px 8px;
    font-size: xx-small;
    border-radius: x-small;
  }

  .theme-modal-responsive {
    width: 200px;
    padding: 0.8rem;
    border-radius: 0.5rem;
  }

  .icons-close {
    padding: 2px;
    top: 8px;
    right: 8px;
  }

  .icon-close-x {
    width: 12px;
    height: 12px;
  }

  .theme-modal-text {
    font-size: x-small;
  }

  .theme-modal-subtext {
    font-size: xx-small;
  }

  .swicth {
    width: 28px;
    height: 14px;
  }

  .switch-circle {
    width: 10px;
    height: 10px;
    transform: translateX(-8px);
  }

  .jobs-main {
    padding: 12px 10px;
  }

  .text-jobs {
    margin: 16px 24px 12px 24px;
  }

  .jobs-title {
    font-size: 1.3rem;
    margin-bottom: 0.2rem;
  }

  .jobs-subtitle {
    font-size: x-small;
  }

  .jobs-main-container {
    margin: 0 24px;
  }

  .jobs-subcontainer {
    padding: 12px 20px;
    font-size: small;
  }

  .scroll-container {
    gap: 4px;
    padding: 0 16px 16px 16px;
  }

  .job-card {
    width: 200px;
    height: 150px;
    border-radius: 0.5rem;
    padding: 16px 18px;
  }

  .job-card-title {
    font-size: x-small;
    margin-bottom: 0.4rem;
  }

  .job-text {
    font-size: 0.6rem;
  }

  .about-responsive {
    padding: 36px 36px;
  }

  .about-image {
    width: 240px;
    height: 240px;
  }

  .modal-auth {
    width: 280px;
    padding: 1.2rem;
    border-radius: 0.4rem;
  }

  .modal-auth-title {
    font-size: small;
    margin-bottom: 0.6rem;
  }

  .modal-auth-text {
    font-size: x-small;
    margin-bottom: 0.8rem;
  }

  .space-buttons {
    gap: 6px;
  }

  .contact-title {
    font-size: 1.3rem;
    margin-bottom: 0.8rem;
    padding: 24px 32px 0px 32px;
  }

  .contact-content {
    padding: 12px 120px 24px 60px;
    gap: 24px;
  }

  .contact-ilustration {
    width: 300px;
    height: auto;
  }

  .contact-text {
    font-size: x-small;
  }

  .comment-container {
    margin-top: 8px;
  }

  .contact-content-1 {
    gap: 8px;
    margin-bottom: 4px;
  }

  .input {
    font-size: x-small;
    margin-top: 4px;
    border-radius: 0.4rem;
    padding: 4px 8px;
  }

  .label-responsive {
    font-size: x-small;
  }

  .error-responsive {
    font-size: xx-small;
    margin-top: 2px;
  }

  .contact-content-2 {
    margin-bottom: 4px;
  }

  .desc {
    height: 60px;
    font-size: x-small;
    margin-top: 4px;
    border-radius: 0.4rem;
    padding: 4px 8px;
  }

  .send-contact-button {
    margin-top: 0px;
  }

  .footer-responsive {
    padding: 1rem 0.5rem;
  }

  .footer-grid-responsive {
    max-width: 80%;
    gap: 0.8rem;
  }

  .footer-section-responsive {
    font-size: 0.7rem;
  }

  .footer-title-responsive {
    font-size: 0.7rem;
    margin-bottom: 0.5rem;
  }

  .footer-links-responsive {
    gap: 0rem;
  }

  .footer-link-responsive {
    font-size: 0.6rem;
  }

  .footer-icons-responsive {
    gap: 0rem;
    margin-bottom: 0.5rem;
  }

  .footer-icon-responsive {
    width: 0.9rem;
    height: 0.9rem;
  }

  .footer-email-responsive {
    font-size: 0.6rem;
  }

  .footer-divider-responsive {
    max-width: 80%;
    margin-top: 0.8rem;
    padding-top: 0.6rem;
    font-size: 0.7rem;
  }

  .login-form-container {
    width: 40%;
  }

  .login-form-icon {
    left: 0.4rem;
    bottom: 0.4rem;
  }

  .login-form-icon-size {
    width: 1rem;
    height: 1rem;
  }

  .login-form-eye-icon {
    right: 0.6rem;
    bottom: 0.2rem;
  }

  .login-form-eye-icon-size {
    width: 1rem;
    height: 1.2rem;
  }

  .login-form-input-padding {
    padding-left: 2.2rem;
    padding-right: 0.6rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
  }

  .login-form-input-container {
    margin-top: 6px;
  }

  .login-form-google-btn {
    width: 8rem;
    padding: 0.3rem 0.6rem;
    margin: 0.6rem 0;
    font-size: xx-small;
  }

  .login-form-register-text,
  .login-form-register-link,
  .login-form-forgot-password {
    font-size: 0.6rem;
  }

  .login-form-actions {
    margin-top: 12px;
    gap: 6px;
  }

  .login-form-submit-btn {
    width: 80%;
    padding: 0.3rem 0rem;
    font-size: xx-small;
  }

  .forms-container {
    padding: 20px;
    border-radius: 0.4rem;
  }

  .page {
    padding: 12px;
  }

  .title-page {
    font-size: 1.8rem;
  }

  .links-page {
    font-size: xx-small;
  }

  .container-forms {
    margin-top: 28px;
    gap: 50px;
  }

  .paragraph-page {
    font-size: 1.1rem;
  }

  .forms-ilustration {
    width: 260px;
    height: 260px;
  }

  .register {
    height: 240px;
  }

  .form-section {
    margin-top: 6px;
  }

  .select-size {
    font-size: x-small;
    margin-top: 4px;
    border-radius: 0.4rem;
    padding: 4px 8px;
  }

  .open-icon {
    width: 10px;
    height: 10px;
  }

  .select-item {
    font-size: x-small;
    border-radius: 0.4rem;
    padding: 4px 8px;
  }

  .card-user-responsive {
    padding: 12px;
    margin-bottom: 6px;
    border-radius: 0.4rem;
  }

  .text-card {
    font-size: 0.6rem;
  }

  .text-rol {
    font-size: xx-small;
  }

  .logo-user {
    width: 32px;
    height: 32px;
  }

  .logo-user-2 {
    width: 28px;
    height: 28px;
  }

  .container-user-type {
    margin: 16px 0;
    gap: 8px;
  }

  .button-employer {
    margin: 0 100px 20px 100px;
  }

  .container-employer {
    margin: 0;
  }

  .text {
    font-size: x-small;
  }

  .title {
    font-size: 1.4rem;
    margin-bottom: 3px;
  }

  .container-text {
    margin: 14px 24px 12px 24px;
  }

  .routes-icons {
    width: 20px;
    height: 20px;
  }

  .container-routes {
    gap: 12px;
  }

  .avatar-menu {
    width: 38px;
    height: 38px;
  }

  .container-categories {
    padding: 0 6px 18px 6px;
  }

  .title-categories {
    font-size: 1.1rem;
    margin: 0 36px 12px 36px;
  }

  .container-categories-jobs {
    padding: 16px;
    margin: 0 32px;
    gap: 12px;
  }

  .right-menu {
    width: 85%;
    height: 400px;
    padding: 0.2rem 0;
    border-radius: 0.5rem;
  }

  .right-items {
    padding: 6px 16px;
    margin: 0 6px;
    font-size: x-small;
    border-radius: 0.3rem;
  }

  .settings {
    width: 95%;
    gap: 20px;
    margin: 16px 80px 0 50px;
  }

  .sub-settings {
    width: 85%;
    padding: 16px 28px;
    border-radius: 0.5rem;
  }

  .avatar-edit {
    width: 56px;
    height: 56px;
  }

  .edit-icon {
    width: 10px;
    height: 10px;
  }

  .avatar-selector {
    width: 180px;
    padding: 12px;
    margin-top: 4px;
    border-radius: 0.4rem;
  }

  .avatar-space {
    gap: 4px;
  }

  .avatar-img {
    width: 38px;
    height: 38px;
  }

  .role-user {
    font-size: x-small;
  }

  .user-name {
    font-size: 1.2rem;
  }

  .divider {
    margin-top: 12px;
  }

  .info-title {
    font-size: 1.1rem;
    margin: 12px 0 8px 0;
  }

  .general-container {
    height: 220px;
    max-height: 220px;
    margin: 12px 0;
  }

  .general-employer-container {
    height: 200px;
    max-height: 220px;
    margin-top: 20px;
  }

  .sub-info-text {
    font-size: x-small;
  }

  .container-info {
    margin: 0;
    padding-right: 8px;
  }

  .button-set {
    font-size: x-small;
    padding: 1px 6px;
    gap: 1px;
  }

  .sub-section {
    padding: 0.8rem 0;
  }

  .title-section {
    font-size: 0.9rem;
  }

  .success-message {
    top: 100px;
    right: 360px;
    font-size: x-small;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    border-radius: 0.2rem;
  }

  .postulated-container {
    height: 12.8rem;
    gap: 1rem;
    max-height: 350px;
    padding-right: 0.6rem;
  }

  .card-postulated {
    height: 5.3rem;
    padding: 12px;
    border-radius: 0.5rem;
  }

  .card-postulation {
    height: 3.8rem;
    padding: 12px;
    border-radius: 0.5rem;
  }

  .card-published {
    height: 5rem;
    padding: 12px;
    border-radius: 0.5rem;
  }

  .text-vacancy-applied {
    font-size: xx-small;
    margin-top: 2px;
  }

  .comments-container {
    max-height: 300px;
  }

  .comment-card {
    padding: 12px;
    margin-bottom: 12px;
  }

  .comment-name {
    font-size: x-small;
  }

  .comment-rol {
    font-size: xx-small;
  }

  .comment-content {
    margin-top: 0px;
  }

  .comment-content-1 {
    margin-bottom: 0px;
  }

  .comment-date {
    font-size: xx-small;
    margin-bottom: 2px;
  }

  .comment-modal {
    width: 400px;
    padding: 18px;
    border-radius: 0.5rem;
  }

  /* Vacancy - Person modales */
  .container-info-user {
    max-width: 380px;
    padding: 12px;
  }

  .container-title-info-user {
    margin-bottom: 8px;
  }

  .info-user-title {
    font-size: 1.2rem;
    margin-left: 12px;
  }

  .buttons-user-container {
    margin-top: 12px;
  }

  .sub-info-container-user {
    padding: 0 24px;
  }

  .company-info {
    margin-bottom: 12px;
  }

  .subtitle-section {
    font-size: 0.8rem;
    margin-bottom: 2px;
  }

  .columns-info {
    gap: 8px;
  }

  .sub-columns-info {
    gap: 6px;
  }

  .ilustration-icons {
    width: 12px;
    height: 12px;
  }

  .desc-company {
    margin-bottom: 10px;
  }

  .title-desc-company {
    font-size: x-small;
    margin-bottom: 2px;
  }

  .hr {
    margin-bottom: 8px;
  }

  .vacancy-section-title {
    font-size: 0.9rem;
    margin-bottom: 8px;
  }

  .columns-info-2 {
    margin-bottom: 12px;
    gap: 6px;
  }

  .skills {
    gap: 2px;
  }

  .skill-space {
    padding: 2px 6px;
    font-size: xx-small;
  }

  .main-comment-container {
    gap: 8px;
  }

  .comment-container {
    padding: 10px;
  }

  .comment-title {
    font-size: x-small;
    margin-bottom: 1px;
  }

  .vacancy-form {
    max-width: 500px;
    padding: 20px 32px;
    margin: 16px 80px 28px 80px;
  }

  .container-create {
    max-width: 55%;
    padding: 18px 40px;
    margin: 8px 120px 32px 120px;
    border-radius: 0.6rem;
  }

  .container-create-title {
    margin-bottom: 8px;
  }

  .form-create-vacancy-1 {
    gap: 2px;
  }

  .form-create-vacancy-2 {
    gap: 4px;
    margin: 0 0 14px 0;
  }

  .notifications-container {
    width: 85%;
    padding: 12px;
  }

  .text-notifications {
    margin-bottom: 10px;
    font-size: 0.9rem;
  }

  .sub-container-notifications {
    gap: 12px;
  }

  .notifications-list {
    height: 360px;
  }

  .notification-card {
    padding: 8px;
    margin-right: 4px;
  }

  .notify-date {
    font-size: x-small;
  }

  .notify-content {
    padding: 16px;
  }

  .text-notify-title {
    font-size: x-small;
    max-width: 75%;
  }

  .container-help-terms {
    max-height: 360px;
  }

  .sub-help-terms {
    max-width: 800px;
  }

  .password-form {
    margin: 10px 0;
  }

  .modal-comment {
    width: 300px;
    padding: 1.2rem;
  }

  .modal-comment-input {
    margin-bottom: 2px;
  }

  .aboutus-container {
    margin-top: 0px;
  }

  .terms-modal {
    width: 95%;
  }

  .fullscreen-chat {
    width: 80%;
    height: 70vh;
  }

  .medium-chat {
    max-height: 350px;
  }

  .header-chat {
    padding: 6px 8px;
    gap: 4px;
  }

  .text-header-chat {
    font-size: 0.9rem;
  }

  .chat-container {
    margin: 6px 0;
    padding: 12px;
  }

  .message-bot {
    max-width: 16rem;
    padding: 4px 6px;
  }

  .message-text {
    font-size: x-small;
  }

  .message-user {
    max-width: 16rem;
  }

  .edit-messages {
    padding: 4px 6px;
    font-size: x-small;
    min-height: 2rem;
  }

  .save-cancel-edit {
    padding: 1px 6px;
    font-size: xx-small;
  }

  .chat-icons {
    width: 8px;
    height: 8px;
  }

  .copied {
    font-size: xx-small;
    padding: 1px 4px;
  }

  .loading {
    padding: 4px 6px;
  }

  .circle {
    width: 3px;
    height: 3px;
  }

  .message-input-container {
    padding: 6px;
  }

  .textarea-message {
    padding: 6px 8px;
    font-size: x-small;
  }

  .send-button {
    padding: 8px;
  }

  .footer-chat {
    font-size: xx-small;
    margin-top: 6px;
  }

  .container-chat-icons {
    transform: translateX(45px) translateY(-8px);
  }

  .email-ilustration {
    width: 120px;
    height: 120px;
  }
}

/* --- 920px Responsive Breakpoint --- */
@media screen and (max-width: 920px) {
  .main-layout-responsive {
    width: 84%;
    margin-top: 0.6rem;
    margin-bottom: 2rem;
    padding: 0.6rem 1rem;
  }

  .logo-plp {
    width: 38px;
    height: 46px;
  }

  .icons-search {
    width: 9px;
    height: 9px;
    top: -3px;
    left: -9px;
  }

  .icons-responsive {
    width: 13px;
    height: 13px;
  }

  .icon-menu {
    width: 18px;
    height: 18px;
  }

  .buttons-responsive {
    gap: 2px;
  }

  .main-responsive {
    margin-top: 6px;
  }

  .search-responsive {
    width: 580px;
    padding: 2px 10px 2px 18px;
  }

  .button-responsive {
    padding: 3px 8px;
  }

  .space-welcome-text {
    gap: 30px;
  }

  .ilustration-main {
    width: 300px;
    height: 240px;
  }

  .info-container {
    width: 760px;
    padding: 0.6rem;
    gap: 0.6rem;
  }

  .card-info-responsive {
    padding: 0.8rem 20px;
    border-radius: 0.3rem;
  }

  .info-ilustration {
    width: 44px;
    height: 44px;
  }

  .menu-responsive {
    width: 8.5rem;
    border-radius: 0.3rem;
  }

  .menu-responsive-title {
    max-width: 70px;
  }

  .mtitle-container {
    padding: 0.2rem;
  }

  .menu-list {
    padding: 3px;
  }

  .menu-item-responsive {
    padding: 5px 7px;
    border-radius: xx-small;
  }

  .theme-modal-responsive {
    width: 180px;
    padding: 0.7rem;
    border-radius: 0.4rem;
  }

  .icons-close {
    padding: 1px;
    top: 7px;
    right: 7px;
  }

  .icon-close-x {
    width: 11px;
    height: 11px;
  }

  .swicth {
    width: 26px;
    height: 13px;
  }

  .switch-circle {
    width: 9px;
    height: 9px;
    transform: translateX(-9px);
  }

  .jobs-main {
    padding: 10px 8px;
  }

  .text-jobs {
    margin: 14px 20px 10px 20px;
  }

  .jobs-main-container {
    margin: 0 20px;
  }

  .jobs-subcontainer {
    padding: 10px 16px;
  }

  .scroll-container {
    padding: 0 14px 14px 14px;
  }

  .job-card {
    width: 180px;
    height: 140px;
    border-radius: 0.5rem;
    padding: 14px 16px;
  }

  .about-responsive {
    padding: 32px 32px;
  }

  .about-image {
    width: 220px;
    height: 220px;
  }

  .modal-auth {
    width: 260px;
    padding: 1rem;
    border-radius: 0.35rem;
  }

  .space-buttons {
    gap: 5px;
  }

  .contact-title {
    padding: 20px 28px 0px 28px;
  }

  .contact-content {
    padding: 10px 100px 20px 50px;
    gap: 20px;
  }

  .contact-ilustration {
    width: 280px;
  }

  .contact-content-1 {
    gap: 6px;
  }

  .input {
    margin-top: 3px;
    border-radius: 0.35rem;
    padding: 3px 7px;
  }

  .error-responsive {
    margin-top: 1px;
  }

  .contact-content-2 {
    margin-bottom: 3px;
  }

  .desc {
    height: 50px;
    margin-top: 3px;
    border-radius: 0.35rem;
    padding: 3px 7px;
  }

  .send-contact-button {
    margin-top: 0px;
  }

  .footer-responsive {
    padding: 0.8rem 0.4rem;
  }

  .footer-grid-responsive {
    max-width: 85%;
    gap: 0.6rem;
  }

  .footer-title-responsive {
    margin-bottom: 0.4rem;
  }

  .footer-links-responsive {
    gap: 0rem;
  }

  .footer-icons-responsive {
    gap: 0rem;
    margin-bottom: 0.4rem;
  }

  .footer-icon-responsive {
    width: 0.8rem;
    height: 0.8rem;
  }

  .footer-divider-responsive {
    max-width: 85%;
    margin-top: 0.6rem;
    padding-top: 0.5rem;
  }

  .login-form-container {
    width: 45%;
  }

  .login-form-icon {
    left: 0.3rem;
    bottom: 0.3rem;
  }

  .login-form-icon-size {
    width: 0.9rem;
    height: 0.9rem;
  }

  .login-form-eye-icon {
    right: 0.5rem;
    bottom: 0.1rem;
  }

  .login-form-eye-icon-size {
    width: 0.9rem;
    height: 1.1rem;
  }

  .login-form-input-padding {
    padding-left: 2rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  .login-form-input-container {
    margin-top: 5px;
  }

  .login-form-google-btn {
    width: 7rem;
    padding: 0.25rem 0.5rem;
    margin: 0.5rem 0;
  }

  .login-form-actions {
    margin-top: 10px;
    gap: 5px;
  }

  .login-form-submit-btn {
    width: 85%;
    padding: 0.25rem 0rem;
  }

  .forms-container {
    padding: 18px;
    border-radius: 0.35rem;
  }

  .page {
    padding: 10px;
  }

  .container-forms {
    margin-top: 24px;
    gap: 45px;
  }

  .forms-ilustration {
    width: 240px;
    height: 240px;
  }

  .register {
    height: 220px;
  }

  .form-section {
    margin-top: 5px;
  }

  .select-size {
    padding: 2px;
    height: 70px;
    border-radius: 0.35rem;
  }

  .select-item {
    border-radius: 0.35rem;
    padding: 3px 7px;
  }

  .card-user-responsive {
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 0.35rem;
  }

  .logo-user {
    width: 30px;
    height: 30px;
  }

  .logo-user-2 {
    width: 26px;
    height: 26px;
  }

  .container-user-type {
    margin: 14px 0;
    gap: 6px;
  }

  .button-employer {
    margin: 0 80px 16px 80px;
  }

  .container-text {
    margin: 12px 20px 10px 20px;
  }

  .routes-icons {
    width: 18px;
    height: 18px;
  }

  .container-routes {
    gap: 10px;
  }

  .avatar-menu {
    width: 34px;
    height: 34px;
  }

  .container-categories {
    padding: 0 5px 16px 5px;
  }

  .title-categories {
    margin: 0 32px 10px 32px;
  }

  .container-categories-jobs {
    padding: 14px;
    margin: 0 28px;
    gap: 10px;
  }

  .right-menu {
    width: 90%;
    height: 360px;
    padding: 0.15rem 0;
    border-radius: 0.45rem;
  }

  .right-items {
    padding: 5px 14px;
    margin: 0 5px;
    border-radius: 0.25rem;
  }

  .settings {
    width: 100%;
    gap: 18px;
    margin: 16px 60px 0 30px;
  }

  .sub-settings {
    width: 90%;
    padding: 14px 24px;
    border-radius: 0.45rem;
  }

  .avatar-edit {
    width: 50px;
    height: 50px;
  }

  .edit-icon {
    width: 9px;
    height: 9px;
  }

  .avatar-selector {
    width: 160px;
    padding: 10px;
    margin-top: 3px;
    border-radius: 0.35rem;
  }

  .avatar-space {
    gap: 3px;
  }

  .avatar-img {
    width: 34px;
    height: 34px;
  }

  .divider {
    margin-top: 10px;
  }

  .info-title {
    margin: 10px 0 6px 0;
  }

  .general-container {
    height: 200px;
    max-height: 200px;
    margin: 10px 0;
  }

  .general-employer-container {
    height: 180px;
    max-height: 200px;
    margin-top: 18px;
  }

  .container-info {
    padding-right: 6px;
  }

  .button-set {
    padding: 0px 5px;
    gap: 0px;
  }

  .sub-section {
    padding: 0.7rem 0;
  }

  .success-message {
    top: 90px;
    right: 320px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    border-radius: 0.15rem;
  }

  .postulated-container {
    height: 11.5rem;
    gap: 0.8rem;
    max-height: 320px;
    padding-right: 0.5rem;
  }

  .card-postulated {
    height: 5.5rem;
    padding: 10px;
    border-radius: 0.45rem;
  }

  .card-postulation {
    height: 3.5rem;
    padding: 10px;
    border-radius: 0.45rem;
  }

  .card-published {
    height: 4.5rem;
    padding: 10px;
    border-radius: 0.45rem;
  }

  .text-vacancy-applied {
    margin-top: 1px;
  }

  .comments-container {
    max-height: 280px;
  }

  .comment-card {
    padding: 10px;
    margin-bottom: 10px;
  }

  .comment-content {
    margin-top: 0px;
  }

  .comment-content-1 {
    margin-bottom: 0px;
  }

  .comment-date {
    margin-bottom: 1px;
  }

  .comment-modal {
    width: 360px;
    padding: 16px;
    border-radius: 0.45rem;
  }

  /* Vacancy - Person modales */
  .container-info-user {
    max-width: 340px;
    padding: 10px;
  }

  .container-title-info-user {
    margin-bottom: 6px;
  }

  .info-user-title {
    margin-left: 10px;
  }

  .buttons-user-container {
    margin-top: 10px;
  }

  .sub-info-container-user {
    padding: 0 20px;
  }

  .company-info {
    margin-bottom: 10px;
  }

  .subtitle-section {
    margin-bottom: 1px;
  }

  .columns-info {
    gap: 6px;
  }

  .sub-columns-info {
    gap: 5px;
  }

  .ilustration-icons {
    width: 11px;
    height: 11px;
  }

  .desc-company {
    margin-bottom: 8px;
  }

  .title-desc-company {
    margin-bottom: 1px;
  }

  .hr {
    margin-bottom: 6px;
  }

  .vacancy-section-title {
    margin-bottom: 6px;
  }

  .columns-info-2 {
    margin-bottom: 10px;
    gap: 5px;
  }

  .skills {
    gap: 1px;
  }

  .skill-space {
    padding: 1px 5px;
  }

  .main-comment-container {
    gap: 6px;
  }

  .comment-container {
    padding: 8px;
  }

  .sub-comment-container {
    margin-bottom: 2px;
  }

  .comment-title {
    margin-bottom: 0px;
  }

  .vacancy-form {
    max-width: 450px;
    padding: 16px 28px;
    margin: 16px 60px 24px 60px;
  }

  .container-create-title {
    margin-bottom: 6px;
  }

  .form-create-vacancy-1 {
    gap: 1px;
  }

  .form-create-vacancy-2 {
    gap: 3px;
    margin: 0 0 12px 0;
  }

  .notifications-container {
    width: 90%;
    padding: 10px;
  }

  .text-notifications {
    margin-bottom: 8px;
  }

  .sub-container-notifications {
    gap: 10px;
  }

  .notifications-list {
    height: 320px;
  }

  .notification-card {
    padding: 6px;
    margin-right: 3px;
  }

  .notify-date {
    margin-top: 0px;
  }

  .notify-content {
    padding: 14px;
  }

  .text-notify-title {
    max-width: 70%;
  }

  .container-help-terms {
    max-height: 320px;
  }

  .sub-help-terms {
    max-width: 700px;
  }

  .password-form {
    margin: 8px 0;
  }

  .modal-comment {
    width: 280px;
    padding: 1rem;
  }

  .modal-comment-input {
    margin-bottom: 1px;
  }

  .terms-modal {
    width: 100%;
  }

  .fullscreen-chat {
    width: 85%;
    height: 65vh;
  }

  .medium-chat {
    max-height: 320px;
  }

  .header-chat {
    padding: 5px 7px;
    gap: 3px;
  }

  .chat-container {
    margin: 5px 0;
    padding: 10px;
  }

  .message-bot {
    max-width: 14rem;
    padding: 3px 5px;
  }

  .message-user {
    max-width: 14rem;
  }

  .edit-messages {
    padding: 3px 5px;
    min-height: 1.8rem;
  }

  .save-cancel-edit {
    padding: 0px 5px;
  }

  .chat-icons {
    width: 7px;
    height: 7px;
  }

  .copied {
    padding: 0px 3px;
  }

  .loading {
    padding: 3px 5px;
  }

  .circle {
    width: 2px;
    height: 2px;
  }

  .message-input-container {
    padding: 5px;
  }

  .textarea-message {
    padding: 5px 7px;
  }

  .send-button {
    padding: 7px;
  }

  .footer-chat {
    margin-top: 5px;
  }

  .container-chat-icons {
    transform: translateX(40px) translateY(-6px);
  }

  .email-ilustration {
    width: 100px;
    height: 100px;
  }
}